<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd

            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.elong">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:annotation-config/>

    <bean id="dataSource1" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://10.100.19.203:3306/pb_account1"/>
        <property name="username" value="root"/>
        <property name="password" value="ilxw"/>
        <property name="initialSize" value="5"/>
        <property name="minIdle" value="3"/>
        <property name="maxActive" value="45"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="minEvictableIdleTimeMillis" value="300000"/>
    </bean>

    <bean id="dataSource2" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://10.100.19.203:3306/pb_account2"/>
        <property name="username" value="root"/>
        <property name="password" value="ilxw"/>
        <property name="initialSize" value="5"/>
        <property name="minIdle" value="3"/>
        <property name="maxActive" value="45"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="minEvictableIdleTimeMillis" value="300000"/>
    </bean>

    <bean id="dataSource3" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://10.100.19.203:3306/pb_account3"/>
        <property name="username" value="root"/>
        <property name="password" value="ilxw"/>
        <property name="initialSize" value="5"/>
        <property name="minIdle" value="3"/>
        <property name="maxActive" value="45"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="minEvictableIdleTimeMillis" value="300000"/>
    </bean>

    <!-- 分区1  -->
    <bean class="com.elong.pb.newdda.client.datasource.MasterSlaveDataSource">
        <!-- 分片名 -->
        <property name="name" value="sharding1"/>
        <!-- 主库 -->
        <property name="masterDataSource" ref="dataSource1"/>
        <!-- 从库 暂略去 -->
    </bean>

    <!-- 分区2 -->
    <bean class="com.elong.pb.newdda.client.datasource.MasterSlaveDataSource">
        <!-- 分片名 -->
        <property name="name" value="sharding2"/>
        <!-- 主库 -->
        <property name="masterDataSource" ref="dataSource2"/>
        <!-- 从库 暂略去 -->
    </bean>

    <!-- 分区3 -->
    <bean class="com.elong.pb.newdda.client.datasource.MasterSlaveDataSource">
        <!-- 分片名 -->
        <property name="name" value="sharding3"/>
        <!-- 主库 -->
        <property name="masterDataSource" ref="dataSource3"/>
        <!-- 从库 暂略去 -->
    </bean>

    <!-- 数据源容器 -->
    <bean id="dataSourceContainer" class="com.elong.pb.newdda.client.datasource.DataSourceContainer">
    </bean>

    <!-- 分区规则 -->
    <bean id="shardingRule" class="com.elong.pb.newdda.client.router.rule.ShardingRule">
        <!-- 默认是mysql相关 start -->
        <property name="databaseType" value="MySQL"/>
        <!-- 涉及到的数据库容器 -->
        <property name="dataSourceContainer" ref="dataSourceContainer"/>
        <!-- 涉及到分库的表 -->
        <property name="tableRules">
            <list>
                <bean class="com.elong.pb.newdda.client.router.rule.TableRule">
                    <!-- 表名 -->
                    <property name="tableName" value="test"/>
                    <!-- 分区关键字 -->
                    <property name="shardingKey" value="user_id"/>
                </bean>
            </list>
        </property>
        <!-- 分区算法 -->
        <property name="algorithm">
            <bean class="com.elong.pb.newdda.client.router.rule.RangeAlgorithm">
                <!-- 分区列表 -->
                <property name="dataSourceList">
                    <list>
                        <value>sharding1</value>
                        <value>sharding2</value>
                        <value>sharding3</value>
                    </list>
                </property>
                <!-- 分区范围 -->
                <property name="rangeList">
                    <list>
                        <value>0,255</value>
                        <value>256,511</value>
                        <value>512,1023</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <!-- 分区的统一数据源 -->
    <bean id="shardingDataSource" class="com.elong.pb.newdda.client.datasource.ShardingDataSource">
        <constructor-arg index="0" ref="shardingRule"/>
    </bean>

</beans>